snippet sec "Comment Section"
" =============================================================================
" ======>> ${1:New Section} <<======
" =============================================================================
${0}
endsnippet

snippet pset "Plug settings"
" ======> Start of ${1:Plug name}<=============================================
${2:Settings}
" ======> End <================================================================
${0}
endsnippet
